{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">

      <div class="col col-12 col-d-12">
        <div class="hero__left">
          <h1>{{ site.data.settings.hero.hero__title }}</h1>
          <!-- <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
          <br> -->
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
          <p class="hero__description">{{ site.data.settings.hero.hero__description_more }}</p>
          <p class="hero__description"><img src="/images/icon_wi.svg"> {{ site.data.settings.hero.hero__location }}</p>
        </div>
      </div>

      <!-- <div class="col col-5 col-d-12">
        <div class="hero__right">
          <div class="hero__image">
            <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}"
              alt="{{site.data.settings.author.author__name}}'s Picture">
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section>
<!-- end hero -->
{% endif %}