{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">

      <div class="col col-12 col-d-12">
        <div class="hero__left">
          <h1>{{ site.data.settings.hero.hero__title }} {{ site.data.settings.hero.hero__description }}</h1>
          <!-- <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
          <br> -->
          <p class="hero__description">Feel free to connect with me on <a href="https://www.linkedin.com/in/mattchiolino" target="_blank">LinkedIn</a>, see some of the code I'm tinkering with on <a href="https://codepen.io/mattchiolino/pens/public" target="_blank">CodePen</a>, or browse more of my design work on <a href="https://dribbble.com/mattchiolino" target="_blank">Dribbble</a>.</p>
        </div>
      </div>

      <!-- <div class="col col-5 col-d-12">
        <div class="hero__right">
          <div class="hero__image">
            <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}"
              alt="{{site.data.settings.author.author__name}}'s Picture">
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section>
<!-- end hero -->
{% endif %}