/* Color Scheme */

:root {
  --primary-color: hsl(6, 98%, 60%);
  --white: hsl(18, 100%, 98%);
  --light-gray: hsl(18, 100%, 95%);
  --lighten-gray: hsl(18, 100%, 80%);
  --primary-dark: hsl(6, 98%, 40%);
  --blue-gray: hsl(202, 40%, 30%);
  --gray: hsl(202, 40%, 90%);
  --background: hsl(18, 100%, 98%);
  --text: hsl(202, 40%, 10%);
  --dark: hsl(202, 40%, 10%);

  // Background Color
  --background-color: var(--white);
  --background-alt-color: var(--light-gray);

  // Body Color
  --text-color: var(--dark);
  --text-alt-color: var(--blue-gray);
  --text-alt-color-2: var(--primary-dark);

  // Heading
  --heading-font-color: var(--text);

  // Link
  --link-color: var(--primary-color);
  --link-color-hover: var(--dark);

  // Button
  --button-color: var(--white);
  --button-background-color: var(--primary-color);
  --button-background-hover: var(--primary-dark);

  // Border
  --border-color: var(--gray);
  --border-alt-color: var(--lighten-gray);

  // Table
  --th-color: var(--light-gray);
  --tr-color: var(--light-gray);

  // Syntax Highlighting
  --syntax-highlighting-background: #f3f3f3;
}

:root[dark] {
  --primary-color: hsl(6, 98%, 60%);
  --primary-dark: hsl(6, 98%, 40%);
  --white: hsl(60, 47%, 97%);
  --light-gray: hsl(60, 47%, 87%);
  --gray: hsl(202, 40%, 90%);
  --dark: hsl(202, 40%, 5%);
  --nav-color: hsl(60, 47%, 97%);
  --background: hsl(202, 40%, 5%);
  --text: hsl(60, 47%, 97%);

  // Background Color
  --background-color: var(--background);
  --background-alt-color: hsl(202, 40%, 10%);

  // Body Color
  --text-color: var(--gray);
  --text-alt-color: var(--gray);
  --text-alt-color-2: var(--gray);

  // Heading
  --heading-font-color: var(--white);

  // Link
  --link-color: var(--primary-color);
  --link-color-hover: var(--white);

  // Button
  --button-color: var(--white);
  --button-background-color: var(--primary-color);
  --button-background-hover: var(--primary-dark);

  // Border
  --border-color: #252629;
  --border-alt-color: #080b12;

  // Table
  --th-color: #18181d;;
  --tr-color: #080b12;

  // Syntax Highlighting
  --syntax-highlighting-background: #080b12;
}