// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 16px;

// Border radius
$global-radius: 16px;

// Transition
$global-transition: all .2s;


// *****************
// Typography
// *****************
$base-font-size: 100%;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Work Sans', Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
$base-line-height: 1.5;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Fraunces', Superclarendon, 'Iowan Old Style', 'Bookman Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;


$font-size-h1: 3rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1rem;

$heading-line-height: 1.25;
$heading-letter-spacing: normal;